@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root{
  --columns:0; 
}

body {
  background: rgb(160, 230, 252);
}

h1 {
  font-family: "montserrat";
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.wrapper{
  float: right;
  margin-right: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  display: grid;
  grid-template-columns: repeat(var(--columns),auto);
  border: 0.5rem solid green;
  border-radius: 5px;
  width: 32rem;
  height: 32rem;
}

#cell {
  width: calc(32rem/100rem);
  height: calc(32rem/100rem);
}

button{
  font-family: "montserrat";
  font-size: 1rem;
  display: block;
  padding: 1rem;
  margin-top: 2rem;
  width: 10rem;
  border: 1px solid black;
  border-radius: 3px;
}
#btns_id{
  float: left;
  margin-left: 14rem;

}

#colourBtn:focus{
  border: 3px solid rgb(90, 67, 133);
  border-radius: 3px;
  background: rgb(208, 196, 253);
}

#eraseBtn:focus{
  border: 3px solid rgb(90, 67, 133);
  border-radius: 3px;
  background: rgb(208, 196, 253);
}

#clearGridBtn:focus{
  border: 3px solid rgb(90, 67, 133);
  border-radius: 3px;
  background: rgb(208, 196, 253);
}

#randomColBtn{
  border: 1px solid black;
  border-radius: 3px;
  background: linear-gradient(90deg, rgba(249,0,0,1) 0%, rgba(255,179,0,1) 20%, rgba(0,255,38,1) 40%, rgba(0,31,255,1) 60%, rgba(231,0,255,1) 80%, rgba(255,43,0,1) 100%);
}
#randomColBtn:focus{
  border: 3px solid rgb(90, 67, 133);
  border-radius: 3px;
  background: linear-gradient(90deg, rgba(249,0,0,1) 0%, rgba(255,179,0,1) 20%, rgba(0,255,38,1) 40%, rgba(0,31,255,1) 60%, rgba(231,0,255,1) 80%, rgba(255,43,0,1) 100%);
}

.slider {
  margin-top: 2rem;
  -webkit-appearance: none;
  width: 95%;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #028a68;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}